<strong>Ola, {{user_id}} </strong>
<p>Houve uma incricao em uma de suas meetups, confira os detalhes abaixo:</p>
<p>
  <strong>Subscriber:</strong> {{user}} <br />
  <strong>Meetup name: </strong> {{meetup}} <br />

</p>
